.EventsList {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.EventsList-heading {
    margin-top: 48px;
}
.EventsList-listItem {
    display: inline-flex;
    justify-content: flex-start;
    cursor: pointer;
}

.as-link {
    cursor: pointer;
}

.as-div {
    cursor: auto;
}

@media only screen and (max-width: 600px) {
    .EventsList {
        display: flex;
    }
    .EventsList-listItem {
        display: flex;
        width: 100%;
    }
}
