.Header {
  height: calc(100vh - 146px);
  background: rgb(226, 192, 216);
  background: linear-gradient(
    180deg,
    rgba(226, 192, 216, 1) 19%,
    rgba(236, 224, 140, 1) 81%
  );
  position: relative;
}

@media only screen and (max-width: 540px) {
  .Header {
    justify-content: center;
  }
  .Float {
    opacity: 0.5;
  }
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-12px);
  }
  100% {
    transform: translatey(0px);
  }
}
.Float {
  animation: floating 2s ease-in-out infinite;
  height: 100%;
  max-width: 95vw;
  object-fit: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 440px) {
  .Page-container {
    padding-top: 2rem;
  }
}

.Description,
.Blog-description {
  max-width: 30em;
}

.Blog-description {
  font-size: 1rem;
}

.Link-blog {
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-top: 1rem;
  border-bottom: 1px solid transparent;
}

.Blog-routerLink:hover .Link-blog {
  color: white;
  border-bottom: 1px solid white;
}
.Blog-routerLink {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .Blog-routerLink .Heading-large,
  .Blog-routerLink:hover .Link-blog,
  .Blog-routerLink:hover .Blog-description {
    border-bottom: none;
  }
}

.Blog-header {
  background-size: cover;
  background-position: top right;
  height: 100%;
  background-color: black;
  filter: brightness(50%);
  cursor: pointer;
}

.Absolute-hack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 99%;
  height: 100%;
  z-index: 100;
}

/* .Blog-header::after {
  content: "";
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  right: 0;
  position: absolute;
  filter: brightness(50%);
} */
